:root {
  --fuentePrincipal: 'Roboto', sans-serif;
  --fuenteSecundaria: 'Lato', sans-serif;

  --primario: #1073BA;
  --secundario: #00DA55;
  --negro: #1F1E1E;
  --gris: #3B3B3B;
  --grisClaro: #e1e1e1;
  --blanco: #FFF;
  --separacion: 5rem;
}

/* Etiquetas Globales */

html {
  box-sizing: border-box;
}

*, *before, *after {
  box-sizing: inherit;
  font-size: 62.5%;
}


body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.5rem;
  background-color: var(--negro);
  margin: 0;
}

h1, h2, h3 {
  font-family: var(--fuentePrincipal);
  font-weight: 900;
  margin: calc(var(--separacion)/2) 0;
}

h1 {
  font-family: var(--fuenteSecundaria); 
  font-size: 3.5rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

button, input[type="submit"] {
  border-radius: .3rem;
  padding: .6rem;
  background: linear-gradient(to left, var(--primario) 0%, rgb(85, 106, 242) 100% );
  color: var(--blanco);
  outline: 0;
  border-color: transparent;
}

/* Clases globales */

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}


/* Utilidades */
.text-center {
  text-align: center;
}

.header {
  color: var(--blanco);
  padding: 2rem 0 0 0;
  background-color: var(--gris);
}

@media (min-width:1200px) {
  .header {
    padding: 2rem 0;
  }
}

.header__grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

@media (min-width:900px) {
  .header__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    justify-items: stretch;
  }
}


.header__logo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

@media (min-width:900px) {
  .header__logo {
    justify-content: flex-start;

  }
}

.header__logo h1 {
  margin: auto 0;
}

.header__logo img {
  height: 3rem;
  width: 3rem;
}


.header__title {
  font-size: 2rem;
}

@media (min-width:768px) {
  .header__title {
    font-size: 2.5rem;
  }
}

.navigation{
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
}

@media (min-width:768px) {
  .navigation {
    justify-content: center;
  }
}

@media (min-width:1200px) {
  .navigation {
    font-size: 1.4rem;
  }
}

.navigation__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  list-style-type: none;
  padding: 0;
}

.navigation__list a {
  text-decoration: none;
  color: var(--blanco);
}

@media (min-width:768px) {
  .navigation__list li {
    padding: 0 1.5rem;
  }
}


.layout {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--negro);
  gap: 1rem;
  padding: 2rem 1rem 1rem 1rem;
  border-top: 1px solid white;
}

@media (min-width:768px) {
  .layout {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-items: flex-end;
    padding: 1rem;
    gap: inherit;
  }
}


@media (min-width:1200px) {
  .layout {
    grid-template-columns: 4fr 1fr;
  }
}


@media (min-width:768px) {
  .movies {
    display: grid;
    width: 100%;
    padding: 0 .4rem;
  }
}

.movies__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}


@media (min-width:768px) {
  .movies__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .movies__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.movie {
  background-color: var(--blanco);
  padding: 1rem;
  height: 17rem;
  border-radius: 0.6rem;
  box-shadow: 1px 0px 6px var(--grisClaro);
  width: 95%;
}

@media (min-width:768pxpx) {
  .movie {
    width: 50%;
  }
}

@media (min-width:768px) {
  .movie {
    width: 85%;
  }
}


.movie__title {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
}

.movie__desc {
  margin: 0;
  font-size: 1rem;
}

.movie__content {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  height: 100%;
  gap: 0.2rem;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  background: var(--blanco);
  border-color: #1F1E1E;
  padding: 2rem 0;
}

@media (min-width:768px) {
  .panel {
    justify-content: flex-start;
    margin: -1rem -1rem -1rem 0;
    background-color: var(--gris);
    width: 102%;
    padding: 0;
  }
}

.addMovie {
  margin-top: 1rem;
}

.addMovie h3 {
  margin: 0 auto;
}

.search__content h3,
.addMovie__content h3 {
  margin: 0 auto;
  font-size: 1rem;
  color: #1F1E1E;
}

.search__content input[type=text],
.addMovie__content input[type=text] {
  margin: 0 auto;
}


@media (min-width:768px) {
  .search, .addMovie {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    margin: 2rem auto;
    padding: 1rem .5rem;
    background: var(--blanco);
    border-radius: 1rem;
    box-shadow: 0px 0px 6px #ddd;
  }
}


input[type="text"],
textarea{
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 5px;
  background: #c6c6c654;
  color: var(--negro);
  width: 80%;
  opacity: 4; 
  outline: 0;
  border-color: transparent;
  font-size: 1.2rem;
  font-family: var(--primario);
}

@media (min-width:768px) {
  input[type="text"],
textarea{
  padding: .5rem;
  width: 90%;
}
}

input[type="submit"] {
  margin-top: 1rem;
  border-color: transparent;
}

.botones {
  margin: auto;
}

.botones__editar {
  margin-right: 1rem;
}

.delete {
  background: linear-gradient(to left, red 0%, rgb(240, 93, 93) 100%);
}


.footer {
  background: var(--gris);
  color: var(--blanco);
  border-top: 1px solid white;
  line-height: 6rem;
  text-align: center;
  font-weight: 900;
  font-family: var(--fuenteSecundaria);
  line-height: 2;
}

form button {
  margin-top: 1rem;
}